#contador{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}

#contenedor{
    text-align: center;
}

.botones{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(161, 102, 216);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.30s;
}

.botones:hover{
    background-color: rgb(64, 25, 100);
}
